<tr height="55px">
	<td style="vertical-align: center;"> <div data-dojo-attach-point='iconDAP' style="float:left">	</div></td>
	<td width="20px"></td>
	<td style="vertical-align: center;"><div data-dojo-attach-point='nameDAP' style="float:left">	</div></td>
	<td width="20px"></td>
	<td style="vertical-align: center;"><div data-dojo-attach-point='rodsDAP' style="float:left">	</div></td>
	<td width="20px"></td>
	<td style="vertical-align: center;"><div data-dojo-attach-point='valvesDAP' style="float:left">	</div></td>
	<td width="20px"></td>
	<td style="vertical-align: center;"><div data-dojo-attach-point='pumpsDAP' style="float:left">	</div></td>
	<td width="20px"></td>
	<td style="vertical-align: center;"><div data-dojo-attach-point='pollDAP' style="float:left">	</div></td>
	<td width="20px"></td>
	<td style="vertical-align: center;"><div data-dojo-attach-point='userDAP' style="float:left">	</div></td>
	<td width="20px"></td>
	<td style="vertical-align: center;"><div data-dojo-attach-point='quakeDAP' style="float:left"></div></td>
	<td width="20px"></td>
	<td style="vertical-align: center;"><div data-dojo-attach-point='pointsDAP' style="float:left"></div></td>
	<td width="20px"></td>
</tr>